﻿
@{
    ViewData["Title"] = "Entrar";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}
<main>
    <center>
        <div class="container">
            <div class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
               <p>Ingrese su carnet para entrar</p>

               <form  asp-action="Validar">


                   <div class='row'>
                       <div class='input-field col s12'>
                           <input class='validate' type="text" name="codigo" id="codigo" required />
                           <label for='codigo'>Codido</label>
                       </div>
                   </div>

                   <br />
                   <div id="message">
                       @{
                           if (ViewData["error"] != null)
                           {
                               <div class="alert alert-warning" role="alert">
                                   @ViewData["error"]
                               </div>
                           } }
                   </div>
                   <center>
                       <div class='row'>
                           <button style="margin-left:65px;" type='submit' name='btn_login' class='col  s6 btn btn-small primary black-text  waves-effect z-depth-1 y-depth-1'>Entrar</button>
                       </div>
                   </center>
               </form>
            </div>
        </div>
    </center>
</main>