﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

    <div class="text-center">
        <h1 class="display-4" id="informacion"></h1>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/documento").build();
         connection.serverTimeoutInMilliseconds = 1000 * 60 * 10;
    var informacion = document.getElementById("informacion");
    informacion.innerText = "Cargando pdf";

    connection.on("Extaendo", function (estado) {
       informacion.innerText = "Extraendo dato del documento";
    });
      connection.on("cargandodb", function (estado) {
   informacion.innerText = "Cargando datos a la base de datos";
      });
    connection.on("insertando", function (participante) {
        console.log(participante);
        informacion.innerText = participante.Nombres;
    });
      connection.on("Insertar", function (participante) {
         connection.invoke("Insertar").catch(function (err) {
        return console.error(err.toString());
    });
    });
    connection.on("terminado", function (participante) {
        window.location.href = "/Mobile/entrar";
    });

    connection.start().then(function () {
 connection.invoke("Cargar").catch(function (err) {
        return console.error(err.toString());
    });
}).catch(function (err) {
    return console.error(err.toString());
});


</script>