﻿
@model IEnumerable<WebApplication7.Models.Partido>
@{
    ViewData["Title"] = "Partidos";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

<ul class="collection" id="cuerpo">
    @foreach (var item in Model)
    {
        <li class="collection-item avatar" style="background-color: @item.Color">
            <i style="background-color: @item.Color" class="material-icons circle green">insert_chart</i>
            <span class="title">@item.Sigla</span>
            <p>
                @item.Nombre <br>
                @item.Postulante
            </p>
            <a href="#!" class="secondary-content" onclick="votar('@item.Id')"><i class="material-icons">send</i></a>
        </li>
    }

</ul>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    "use strict";
    var participante= "@ViewData["participante"].ToString()"

    var connection = new signalR.HubConnectionBuilder().withUrl("/voto").build();
         connection.serverTimeoutInMilliseconds = 1000 * 60 * 10;

        function votar(partido) {
            connection.invoke("Votar", participante, partido).catch(function (err) {
        return console.error(err.toString());
    });
    }

    connection.on("voto", function (voto) {
        console.log("llrga");
           M.toast({html: 'Gracias por participar su boto fue contado!', classes: 'rounded'});
        setTimeout(function () {
             window.location.href = "/Mobile/Entrar";
        }, 2000);
    });

    connection.start().then(function () {

}).catch(function (err) {
    return console.error(err.toString());
});


</script>
