﻿
@{
    ViewData["Title"] = "Ressultados";
    Layout = "~/Views/Shared/_Mobile.cshtml";
}

<div class="text-center" id="pieChart"></div>
<ul class="collapsible" id="resultados">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            First
            <span class="new badge">4</span>
        </div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
   
</ul>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/axios/dist/axios.js"></script>
<script src="~/lib/d3/d3.js"></script>
<script src="~/lib/d3pie/d3pie.js"></script>
<script>
    "use strict";
    var options = {
        "header": {
            "title": {
                "text": "Elecciones 2019",
                "fontSize": 24,
                "font": "open sans"
            },
            "subtitle": {
                "text": "Resultado de votacione en tiempo real",
                "color": "#999999",
                "fontSize": 12,
                "font": "open sans"
            },
            "titleSubtitlePadding": 9
        },
        "footer": {
            "color": "#999999",
            "fontSize": 10,
            "font": "open sans",
            "location": "bottom-left"
        },
        "size": {
            "canvasWidth": 360,
            "pieOuterRadius": "90%"
        },
        "data": {
            "sortOrder": "value-desc",
            "content": [

            ]
        },
        "labels": {
            "outer": {
                "format": "none",
                "pieDistance": 32
            },
            "inner": {
                "hideWhenLessThanPercentage": 3
            },
            "mainLabel": {
                "fontSize": 11
            },
            "percentage": {
                "color": "#ffffff",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#adadad",
                "fontSize": 11
            },
            "lines": {
                "enabled": true
            },
            "truncation": {
                "enabled": true
            }
        },
        "effects": {
            "load": {
                "effect": "true"
            },
            "pullOutSegmentOnClick": {
                "effect": "linear",
                "speed": 400,
                "size": 8
            }
        },
        "misc": {
            "gradient": {
                "enabled": true,
                "percentage": 100
            }
        }
    };
    var element = document.getElementById("pieChart");
    document.onload = cargar();
    function cargar() {
        axios.get('/Partido/Resultados')
            .then(function (response) {
                // handle success
                element.innerHTML = "";
                cargarDatos(response.data);
                options.data.content = response.data;
                var pie = new d3pie("pieChart", options);

            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
    };
    var connection = new signalR.HubConnectionBuilder().withUrl("/voto").build();

    connection.on("votos", function (votos) {
        
        options.effects.load.effect = "none";
        cargar();
    });

    function cargarDatos(partidos) {
        var html = "";
        for (var i = 0; i < partidos.length; i++) {
            var element = partidos[i];
            html += `<li>
        <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>
            ${element.label}
            <span class="new badge data-badge-caption="Votos" style="background-color:${element.color}" "> ${element.value}</span>
        </div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>`

        }
        document.getElementById("resultados").innerHTML = html;

    };

    connection.start().then(function () {

    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>

