﻿
@{
    ViewData["Title"] = "Entrar";
}
<style>

</style>

<div class="row">
   
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Entrar al sistema</h5>
                <form class="form-signin" asp-action="Validar">
                    <div class="form-label-group">
                        <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Ingrese su codigo" required autofocus>
                        <label for="codigo">codigo</label>
                    </div>
                    <div id="message">
                        @{
                            if (ViewData["error"] != null)
                            {
                                                <div class="alert alert-warning" role="alert">
                                                    @ViewData["error"]
                                                </div>
                                } }
                        </div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" id="entrar" type="submit">Entrar </button>
                   
                </form>
            </div>

        </div>
    </div>
</div>


