﻿
@{
    ViewData["Title"] = "Index";
}

<div class="text-center" id="pieChart"></div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/axios/dist/axios.js"></script>
<script src="~/lib/d3/d3.js"></script>
<script src="~/lib/d3pie/d3pie.js"></script>
<script>
    "use strict";
    var options = {
        "header": {
            "title": {
                "text": "Elecciones 2019",
                "fontSize": 24,
                "font": "open sans"
            },
            "subtitle": {
                "text": "Resultado de votacione en tiempo real",
                "color": "#999999",
                "fontSize": 12,
                "font": "open sans"
            },
            "titleSubtitlePadding": 9
        },
        "footer": {
            "color": "#999999",
            "fontSize": 10,
            "font": "open sans",
            "location": "bottom-left"
        },
        "size": {
            "canvasWidth": 670,
            "pieOuterRadius": "90%"
        },
        "data": {
            "sortOrder": "value-desc",
            "content": [

            ]
        },
        "labels": {
            "outer": {
                "pieDistance": 32
            },
            "inner": {
                "hideWhenLessThanPercentage": 3
            },
            "mainLabel": {
                "fontSize": 11
            },
            "percentage": {
                "color": "#ffffff",
                "decimalPlaces": 0
            },
            "value": {
                "color": "#adadad",
                "fontSize": 11
            },
            "lines": {
                "enabled": true
            },
            "truncation": {
                "enabled": true
            }
        },
        "effects": {
            "load": {
			"effect": "true"
		},
            "pullOutSegmentOnClick": {
                "effect": "linear",
                "speed": 400,
                "size": 8
            }
        },
        "misc": {
            "gradient": {
                "enabled": true,
                "percentage": 100
            }
        }
    };
    var element = document.getElementById("pieChart");
    document.onload = cargar();
    function cargar() {
        axios.get('/Partido/Resultados')
            .then(function (response) {
                // handle success
                
                options.data.content = response.data;
                var pie = new d3pie("pieChart", options);
              
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
            });
    };
    var connection = new signalR.HubConnectionBuilder().withUrl("/voto").build();
        
    connection.on("votos", function (votos) {
        element.innerHTML = "";
        options.effects.load.effect = "none";
        cargar();
    });

    connection.start().then(function () {

}).catch(function (err) {
    return console.error(err.toString());
});
</script>