﻿
@model IEnumerable<WebApplication7.Models.Partido>

@{
    ViewData["Title"] = "Partidos";
}
    <div class="container mt-4" id="cuerpo">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem; background-color: @item.Color ">
                        <div class="card-body">
                            <h5 class="card-title">@item.Sigla</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.Nombre</h6>
                            <p class="card-text">@item.Postulante</p>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" onclick="votar('@item.Id')">Botar </button>


                        </div>
                    </div>
                    </div>
                    }
                </div>
            </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
    "use strict";
    var participante= "@ViewData["participante"].ToString()"

    var connection = new signalR.HubConnectionBuilder().withUrl("/voto").build();
         connection.serverTimeoutInMilliseconds = 1000 * 60 * 10;

        function votar(partido) {
            connection.invoke("Votar", participante, partido).catch(function (err) {
        return console.error(err.toString());
    });
    }

        connection.on("voto", function (voto) {
            document.getElementById("cuerpo").innerHTML=`<div class="alert alert-info" role="alert">
Tu Boto a sido contado
</div>`
        setTimeout(function () {
             window.location.href = "/Votaciones/Entrar";
        }, 2000);
    });

    connection.start().then(function () {

}).catch(function (err) {
    return console.error(err.toString());
});


    </script>